PORT=3000
POSTGRES_HOST=database
POSTGRES_USER=student
POSTGRES_PASSWORD=student
POSTGRES_DB=kupiproday
POSTGRES_PORT=5432
POSTGRES_PGDATA=/var/lib/postgresql/data/pgdata
JWT_SECRET=secret
JWT_TTL=30000s
